body
  padding: 50px
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif

a
  color: #00B7FF

img
  width: 200px
  height: auto

.picture-name
  color: blue
  border-top: 2px solid red

.picture-id
  font-size: 10px
  font-style: italic
  font-family: "Goudy Bookletter 1911", sans-serif
